body {
    background-color: aqua;
    text-align: center
}

#button:hover {
    background-color: red;
    color: blue;
}

#button {
    color: red;
    background-color: aqua;
    margin: 10px 10px;
}